body{
    margin: 0;
    /* width:100%; */
    font-family: "Avenir Next Regular",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

 .main-nav{
    display: flex;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    position: fixed;
    background-color: #fff;
    width:100%;
 }
