body{
    margin: 0;
    width:100%;
    font-family: "Avenir Next Regular",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

#logo{
    color:rgb(3, 3, 102);
    text-align: center;
    cursor: pointer;
   letter-spacing: .2rem;
   font-size:1.3rem;
   margin:2.5rem;
   font-weight: 500;
   text-transform: uppercase;
   /* font-family: "Avenir Next Regular",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; */
 }

 .main-nav{
    display: flex;
    display: inline;
    font-size: .9rem;
    text-align: center;
 }
 /* Navbar{
  text-align: center;
 }
 .NavDropdown.Item{
  text-align: center;
 } */
 
 